body
{
    position: relative;
}

#content
{
    width: 80%;
    margin: 0 auto;
}

#spinner
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    text-align: center;
    padding-top: 200px;
    display: none;
}

#spinner i
{
    color: white;
    font-size: 80px;
}

.plugin-result-template
{
    display: none;
}

.easypiechart-blue .percent { color: #30a5ff;}
.easypiechart-orange .percent { color: #ffb53e;}
.easypiechart-red .percent { color: #ef4040;}

.pdf-link img,
.odt-link img
{
    width: 32px;
    height: 32px;
}

#global-score-container { display: none; }

#result .card-content
{
    min-height: 160px;
}

#result .report
{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#result .card-content.messages p
{
    margin: 0 100px 0 20px;
}
